
body { font-family: "Roboto", sans-serif; color: #434455; background-color: #fff;}
h1, h2, h3, h4, h5, h6 { margin: 0;}
p { margin: 0;}
a { text-decoration: none;}
ul { margin: 0; padding-left: 0;}

.logo { font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5; font-family: "Raleway", sans-serif;}

 .logo-second { font-family: "Raleway", sans-serif; font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}       
.contact-details { font-style: normal;}

.contact-details .link { font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
    .contact-details .link:hover, .contact-details .link:focus { color: #404bbf;}          
  
.hero-section { 
     text-align: center;
     background: #2e2f42;}  

   .hero-title { font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;} 

     .page-nav .link {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}   

    .page-nav .link:hover, .page-nav .link:focus { color: #404bbf;}

    .page-nav .link:active { color: #404bbf}
    .hero-button { font-family: "Roboto", sans-serif; font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em; color: #ffffff; background-color: #4d5ae5; cursor: pointer;}
    .hero-button:hover { color: #ffffff; background-color: #404bbf;}
    .hero-button:focus { background-color: #404bbf;}
    
    
 
   .feauture-section-title { font-family: "Roboto", sans-serif; font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; color: #2e2f42;}
    .feauture-section-text { font-weight: 400; 
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em; color: #434455;}

        .team-section {background-color:  #f4f4fd;;}
.our-team { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center; text-transform:capitalize; color: #2e2f42;}
    .our-team-foto { background: #fff;}
    
    .team-section .our-team-name { font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                text-align: center; color: #2e2f42;
               }    
    .specialization { font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    text-align: center;
                    }

    .portfolio-section { font-weight: 700;
                        font-size: 36px;
                        line-height: 1.11;
                        letter-spacing: 0.02em;
                        text-align: center; text-transform: capitalize; color: #2e2f42;}                 
    .our-products { font-weight: 500;
                            font-size: 20px;
                            line-height: 1.2;
                            letter-spacing: 0.02em; color: #2e2f42;}
    .our-products-text { font-weight: 400;
                            font-size: 16px;
                            line-height: 1.5;
                          letter-spacing: 0.02em;}
    .footer-section { background-color: #2E2F42;}
    .footer-section .footer-section-p { font-weight: 400;
                                font-size: 16px;
                                line-height: 1.5;
                                letter-spacing: 0.02em;
                                color: #f4f4fd;}
    .logo-second-footer { font-family: "Raleway", sans-serif; font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;}